{% extends 'base.html' %}
{% load static %}
    {% block title %} - Lista tareas {% endblock %}
    {% block body %}

    <form action="{% url 'mtto.listado_equipos' %}" style="display: inline;">
        <button class="btn btn-info" style="width: 150px;">
            Todas
        </button>
    </form>
    
    <h2 class="center">Datos de la Tarea</h2>
    <br>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="alert alert-danger top-20 center" role="alert">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <div style="width: 90%;" class="table-responsive center">
    <table class="table align-middle mb-0 bg-white center">
        <thead class="bg-light">
            <tr>
                <th style="width: 20px;">Nombre</th>
                <th>Frecuencia Tarea</th>
                <th>Última Ejecución</th>
                <th>Próxima Ejecución</th>
                <th>Valor última Ejecución</th>
                <th>Responsable</th>
            </tr>
        </thead>
        <tbody>
            {% for equipo in equipos %}
            <tr>
                <td style="width: 20px;"><a href="{% url 'mtto.details' pk=equipo.id %}">{{ equipo.name }}</a></td>
                <td>{{ equipo.frequency }}</td>
                <td>{{ equipo.last_maintenance }}</td>
                <td>{{ equipo.next_maintenance }}</td>
                <td>{{ equipo.last_value }}</td>
                <td>{{ equipo.responsable.nickname }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'mtto.crear_equipo' %}">
        <button type="submit" class="btn btn-primary top-20">Agregar Tarea</button>
    </form>
</div>

    {% endblock %}