{% extends 'base.html' %}
{% load static %}
    {% block body %}
    <p><a href="{% static 'dian/gestion2021.pdf' %}">Informe Gestión 2021</a></p>
    <p><a href="{% static 'dian/antecedentes2021.pdf' %}">Certificado Antecedentes 2021</a></p>
    <p><a href="{% static 'dian/requisitos2021.pdf' %}">Certificado cumplimiento Requisitos 2021</a></p>
    <p><a href="{% static 'dian/estado_resultados2021.pdf' %}">Estado Resultados 2021</a></p>
    <p><a href="{% static 'dian/situacion_financiera2021.pdf' %}">Situación Financiera 2021</a></p>
    {% endblock %}