{% extends 'base.html' %}
{% load static %}
    {% block body %}
    <form action="{% url 'dian.docs' %}" method="POST"> {% csrf_token %}
        <label for="year">Año a consultar:</label>
        <select name="year" id="year">
            {% for year in years %}
            <option value="{{year}}">{{year}}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
    
    {% if list %}
        <div class="mb-3">
            <br><br><br>
            {% for doc in documents %}
                <p><a href="{{ doc.file }}">{{ doc.title }} {{ doc.year }}</a></p>
                <!-- <p><a href="{% url 'dian.pdf' pk=doc.id %}">{{ doc.title }} {{ doc.year }}</a></p> -->
            {% endfor %}
        </div>
    {% endif %}
    {% endblock %}