<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>Hola {{ user.nickname }},</h2>
    <p>Quintana Mágica y todos sus miembros y amigos te deseamos que tengas un <span style="font-size: 140%; color:#326273;">muy feliz cumpleaños</span></p>
    <p>Abrazos y millones de bendiciones</p>
    <p><a href="https://quintanamagica.com/">Quintana Mágica</a></p>
</body>
</html>