{% extends 'base.html' %}
{% load static %}
{% block body %}
    <h2 aria-label="Bloque: Encabezado" class="center" data-type="core/heading" 
        data-title="Encabezado" 
        style="color: #668DC0; white-space: pre-wrap; min-width: 1px;">Aplicaciones de la Comunidad
    </h2>
    <div class="center">
        <form action="{% url 'visit.list' %}" style="display: inline;">
            <button class="btn btn-info" style="width: 150px;">
                Visitas
            </button>
        </form>
        <form action="{% url 'mtto.listado_equipos' %}" style="display: inline;">
            <button class="btn btn-info" style="width: 150px;">
                Tareas
            </button>
        </form>
        <form action="{% url 'mtto.lista_proveedores' %}" style="display: inline;">
            <button class="btn btn-info" style="width: 150px;">
                Proveedores
            </button>
        </form>
        <form action="{% url 'visit.calendar' %}" style="display: inline;">
            <button class="btn btn-info" style="width: 150px;">
                Calendario Visitas
            </button>
        </form>
        <form action="{% url 'factura.list' %}" style="display: inline;">
            <button class="btn btn-info" style="width: 150px;">
                Facturas
            </button>
        </form>
        <form action="{% url 'documentos.list' %}" style="display: inline;">
            <button class="btn btn-info" style="width: 150px;">
                Documentos
            </button>
        </form>
        {% if staff %}
        <form action="{% url 'donations.lista' %}" style="display: inline;">
            <button class="btn btn-warning" style="width: 150px;">
                Donaciones
            </button>
        </form>
        <form action="{% url 'visit.datos_contabilidad' %}" style="display: inline;">
            <button class="btn btn-warning" style="width: 150px;">
                Revisar Visitas
            </button>
        </form>
        <form action="{% url 'dian.nuevodoc' %}" style="display: inline;">
            <button class="btn btn-warning" style="width: 150px;">
                Ingresar doc DIAN
            </button>
        </form>
        <form action="{% url 'donations.enviar_correo' %}" style="display: inline;">
            <button class="btn btn-warning" style="width: 150px;">
                Correo Donaciones
            </button>
        </form>
        {% endif %}
    </div>
{% endblock %}