{% extends 'base.html' %}
{% load static %}
    {% block body %}
    <h1 aria-label="Bloque: Encabezado" class="center" data-type="core/heading" data-title="Encabezado" style="color: #668DC0; white-space: pre-wrap; min-width: 1px;">Sobre nosotros</h1>
    <br>
    <h3 class="justify">
        <strong data-rich-text-format-boundary="true">Somos amigos convertidos en comunidad en virtud de un propósito compartido:</strong>
    </h3>
    <br>
    <p class="justify">
        Aprender a amar y servir, a ser felices para vivir con alegría y entusiasmo, y tener paz 
        invulnerable para fluir y respetar las leyes universales.
        En nuestro propósito desarrollamos actividades donde compartimos información y verificamos su comprensión.
    </p>
    <br>
    <h5 class="justify">
        Contactanos:
    </h5>
    <p class="justify">
        <a href="https://wa.me/573108298003" target="_blank" rel="noopener noreferrer" style="padding: 0">
            <img src="{% static 'images/wpp.png' %}" alt="" style="width: 45px; padding:0; margin: 5px">
        </a> 
        <a href="https://www.instagram.com/quintana.magica/" target="_blank" rel="noopener noreferrer" style="padding: 0">
            <img src="{% static 'images/instagram.png' %}" alt="" style="width: 45px; padding: 0; margin: 5px">
        </a> 
    </p>
    <br>
    <h5 class="justify">
        Visitanos:
    </h5>
    <p class="justify">
        <a href="https://waze.com/ul/hd344rjnfq" target="_blank" rel="noopener noreferrer" style="padding: 0">
            <img src="{% static 'images/waze.png' %}" alt="" style="width: 45px; padding:0; margin: 5px">
        </a>
        
        <a href="https://maps.app.goo.gl/hDGa8KBhmktCJqjX6?g_st=com.google.maps.preview.copy" target="_blank" rel="noopener noreferrer" style="padding: 0">
            <img src="{% static 'images/maps.png' %}" alt="" style="width: 45px; padding:0; margin: 5px">
        </a>
    </p>

    {% endblock %}