{% extends 'base.html' %}
{% load static %}
    {% block body %}
    <h1 aria-label="Bloque: Encabezado" class="center" data-type="core/heading" data-title="Encabezado" style="color: #668DC0; white-space: pre-wrap; min-width: 1px;">Sobre nosotros</h1>
    <br>
    <h3 class="justify">
        <strong data-rich-text-format-boundary="true">Somos amigos convertidos en comunidad en virtud de un propósito compartido:</strong>
    </h3>
    <br>
    <p class="justify">
        Aprender a amar y servir, a ser felices para vivir con alegría y entusiasmo, y tener paz 
        invulnerable para fluir y respetar las leyes universales.
        En nuestro propósito desarrollamos actividades donde compartimos información y verificamos su comprensión.
    </p>
    {% endblock %}