{% extends 'base.html' %}
{% load static %}
    {% block body %}
        <h1 class="display-1">Quintana Mágica</h1>
        <h3>Una comunidad con propósito</h3>
        {% if nm %}
        <h4>Hola <strong style="color: #668DC0;">{{ nickname }}</strong></h2>
        {% endif %}
        {% if cumple %}
        <h4 style="color: #0F1C30;">Feliz Cumpleaños!!!!</h4>
        {% endif %}
        {% if message %}
        <h4 style="color: #668DC0;">{{message}}</h4>
        {% endif %}
        <p>Hoy es {{ today }}</p>
        <img src="{% static 'images/qm.jpg' %}" style="border-color: #668DC0 ; border-style: solid;" class="img-fluid" alt="Quintana Mágica" height="200">
    {% endblock %}