{% extends 'base.html' %}
{% load static %}
{% block title %} - Detalle Evento {% endblock %}
{% block script %}
    <script src="{% static 'js/qm.js' %}"></script>
{% endblock %}
 
{% block body %}
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="alert alert-danger top-20 center" role="alert">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <div style="margin: 0 auto; width: 80%;">
        {% if message2 %}
            <div class="alert alert-warning top-20 center" role="alert">{{ message2 }} <a href="{% url 'eventos.lista' %}">aquí</a></div>
        {% endif %}
        {% if message1 %}
            <div class="alert alert-danger top-20 center" role="alert">{{ message1 }}</div>
        {% endif %}
        <br>
        <h3 class="text-dark text-decoration-non top-20">{{ event.tipo }}: {{ event.nombre }}</h3>
        <img src="{{event.imagen.url}}" alt="{{event.nombre}}" width="100%">
        <p class="card-text" style="text-align: justify;">{{ event.descripcion }}</p>
        <p class="card-text" style="text-align: justify;">Fecha: {{ event.fecha }}</p>
        <p class="card-text" style="text-align: justify;">Lugar: {{ event.lugar }}</p>
        <p class="card-text" style="text-align: justify;">Duración: {{ event.duracion}}</p>
        <p class="card-text" style="text-align: justify;">Incluye: {{ event.incluye }}</p>
        <p class="card-text" style="text-align: justify;">Donación: 
            {% if event.concluido %}
                <b>Evento concluido</b>
            {% else %}
                {% if event.cerrado %}
                     <b>Evento cerrado por cupos</b>
                {% else %}
                    ${{ event.costo }} <small>(Hasta el {{ event.fecha_costo }})</small>
                {% endif %}
            {% endif %}
        </p>

        {% if user.is_authenticated %}
            {% if inscrito %}
                <h5>Cantidad de cupos que has reservado: {{ cupos }}</h5>
                <form action="{% url 'eventos.agregar_cupo' pk=event.id %}" method="POST"> {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Agregar otro cupo a tu inscripción</button>
                </form>
                <form action="{% url 'eventos.quitar_cupo' pk=event.id %}" method="POST"> {% csrf_token %}
                    <button type="submit" class="btn btn-secundary">Quitar un cupo a tu inscripción</button>
                </form>
                <form action="{% url 'eventos.desuscribir' pk=event.id %}" method="POST"> {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Desinscribirse del Evento</button>
                </form>
            {% else %}
                <button id="btn-inscribir" class="btn btn-primary" onclick="inscribirse()">Inscribirse al Evento</button>
            {% endif %}
        {% else %}
            <form action="{% url 'eventos.inscribir' pk=event.id %}" method="POST"> {% csrf_token %}
                <button type="submit" class="btn btn-info">Ingresar para Incribirse al Evento</button>
            </form>
        {% endif %}
        <div style="display: none;" id="inscribirse">
            <form action="{% url 'eventos.inscribir' pk=event.id %}" method="POST"> {% csrf_token %}
                {% if not doc %}
                <label for="tipo_id">Tipo de documento</label>
                <select name="tipo_id" id="" required>
                    <option value="">--Selecciona una opción--</option>
                    <option value="cc">Cédula de Ciudadanía</option>
                    <option value="ti">Tarjeta de Identidad</option>
                    <option value="ce">Cédula Extranjería</option>
                </select>
                <label for="id">Número Documento</label>
                <input type="number" name="id" id="" min="0" required>
                {% endif %}
                <button type="submit" class="btn btn-success">Confirmar</button>
            </form>
        </div>
        <div>
            <button style="display: none" id="btn-cancelar" class="btn btn-danger" onclick="inscribirse()">Cancelar</button>
        </div>
    </div>
{% endblock %}