<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="text-align:justify">
    <h4>Hola {{ usuario.nickname }},</h4>
    <p>Te escribimos porque tienes reservados {{ cantidad }} cupos en el evento {{ evento.tipo}} {{ evento.nombre }} que se 
        realizara el {{ evento.fecha }} y aún no hemos recibido tu donación, te agradecemos hacernos llegar el comprobante 
        de consignación a este correo o al whatsapp 312-258-75-23.
    </p>
    <p>Si ya hiciste tu donación y enviaste el comprobante, omite este correo por favor, si ya realizaste tu donación y 
        no has enviado el comprobante, te agradecemos nos lo hagas llegar para asentar tu donación.
    </p>
    <p>Te recordamos que la consignación es a la cuenta de ahorros Bancolombia número 51111122745, a nombre de la Corporación 
        Comunidad Quintana Mágica, NIT 900.639.020. 
    </p>

    <p>Quintana Mágica</p>
</body>

</html>