<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="text-align:justify">
    <h4>Hola {{ usuario.nickname }},</h4>
    <p>Te escribimos a invitarte al evento {{ evento.tipo}} {{ evento.nombre }} que se 
        realizara el {{ evento.fecha }}. Si te interesa y quieres más información puedes escribirnos al 
        whatsapp 312-258-75-23 o en nuestra <a href="https://quintanamagica.com/eventos/lista/">página web</a> 
        puedes consultar e inscribirte.
    </p>
    <p>Quintana Mágica</p>
</body>
</html>