<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="text-align:justify">
    <h4>Hola {{ name }},</h4>
    <p>Gracias por inscribirte al evento {{ evento.tipo}} {{ evento.nombre }} que se realizara 
        el {{ evento.fecha }}.
    </p>
    <p>La Corporación Comunidad Quintana Mágica es una entidad sin ánimo de lucro. Nosotros a cambio de nuestros 
        servicios recibimos una donación destinada al mantenimiento de la comunidad y por estas donaciones 
        que nos hagas en el año puedes solicitar un certificado para tu impuesto de renta.
    </p>
    <p>Para confirmar tu inscripción por favor consignar tu donación a la cuenta de ahorros 
        Bancolombia número 51111122745, a nombre de la Corporación Comunidad Quintana Mágica, 
        NIT 900.639.020. 
        {% comment %} O con este <a href="https://checkout.wompi.co/l/TtZqar">enlace</a>. {% endcomment %}
    </p>
    <p>Por favor enviar el comprobante a este correo o al whatsapp (312)258-75-23</p>

    <p>Quintana Mágica</p>
</body>

</html>