<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="text-align:justify">
    <h4>Hola {{ name }},</h4>
    <p>Gracias por inscribirte al evento {{ evento.tipo}} {{ evento.nombre }} que se realizara 
        el {{ evento.fecha }}.
    </p>
    <p>Los fondos recogidos en este evento serán destinados a la causa "Reparemos 
        juntos el corazón de Balta".  Entonces ingresa 
        <a href="https://vaki.co/es/vaki/baltacardio">aquí</a>
        has el aporte y nos envías el comprobante a este correo o al 
        whatsapp (312)258-75-23
    </p>

    <p>Quintana Mágica</p>
</body>

</html>