<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>Hola {{ name }},</h2>
    <p>
        En el año {{ year }} realizaste donaciónes a la comunidad Quintana Mágica por valor {{ valor }}, para 
        descargar tu certificado puedes ingresar <a href="https://quintanamagica.com/donaciones/">aquí</a> y usando tu usuario y 
        contraseña lo puedes descargar.
    </p>
    <p>Abrazos</p>
</body>
</html>