{% extends 'base.html' %}
{% load static %}
{% load l10n %}

    {% block body %}
        <form class="form-login top-20 padding-5" action="{% url 'donations.lista' %}" method="POST"> {% csrf_token %}
            <label class="input" for="year">Año a consultar:</label>
            <select class="form-control padding-5" name="year" id="year">
                {% for year in years %}
                <option value="{{year}}">{{ year|unlocalize }}</option>
                {% endfor %}
            </select>
            <input class="btn btn-secondary" type="submit" value="Enviar">
        </form>
        {% if data %}
        <br>
        <br>
        <h2 class="center">Donaciones {{ year|unlocalize }}:</h2>
        <br>

        <div style="width: 90%;" class="table-responsive center">
            <table class="table align-middle mb-0 bg-white center">
                <thead class="bg-light">
                    <tr>
                        <th style="width: 20px;">Nombre</th>
                        <th>Identificación</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for donation in donaciones %}
                    <tr>
                        <td>{{ donation.nombre }}</td>
                        <td>{{ donation.id }}</td>
                        <td>{{ donation.valor }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><b>VALOR TOTAL</b></td>
                        <td></td>
                        <td>{{ total }}</td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
        {%  if staff %}
        <br>
        <br>
        <div class="center">
            <form action="{% url 'donations.agregar' %}" style="display: inline;">
                <button class="btn btn-info" style="width: 150px;">
                    Agregar Donación
                </button>
            </form>
        </div>
        {% endif %}
    {% endblock %}