{% extends 'base.html' %}
{% load static %}
    {% block title %} - Lista visitas {% endblock %}
    {% block body %}

    <br>
    <form action="{% url 'visit.calendar' %}" style="display: inline;">
        <button class="btn btn-info" style="width: 150px;">
            Todas
        </button>
    </form>
    <table class="center">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Visitante</th>
            </tr>
        </thead>
        <tbody>
            {% for visit in visits %}
            <tr>
                <td>{{ visit.date }}</td>
                <td>{{ visit.visitor.nickname }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}