{% extends 'base.html' %}
        
    {% block body %}
    {% if message %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}

    <form class="form-login" method="post" action="{% url 'users.change_password' %}"> {% csrf_token %}
        <div class="form-item">
            <div class="form-group top-20">
                <label class="input" for="password">Contraseña: </label>
                <input class="form-control" type="password" id="password", name="password" required placeholder="Contraseña" value="">
            </div>
            <div class="form-group">
                <label class="input" for="password2">Confirmar contraseña: </label>
                <input class="form-control" type="password" id="password2", name="password2" required placeholder="Confirmar contraseña" value="">
            </div>
        </div>
        <div class="form-item">
            <input type="submit" class="btn btn-secondary" value="Cambiar">
        </div>
    </form>
    {% endblock %}