{% extends 'base.html' %}
        
    {% block body %}
    {% if message %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}

    {% if validlink %}
    <h2 class="center top-20">Por favor ingresa (y confirma) tu nueva contraseña.</h2>
    <form class="form-login" action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <div class="form-item">
            <div class="form-group top-20">
                <label class="input" for="id_new_password1">Nueva Contraseña:</label>
                <input class="form-control" type="password" id="id_new_password1", name="new_password1" required placeholder="Contraseña" value="">
                <!-- <td class="form-control">{{ form.new_password1 }}</td> -->
            </div>
            <div class="form-group top-20">
                <label class="input" for="id_new_password2">Confirmar contraseña:</label>
                <input class="form-control" type="password" id="id_new_password2", name="new_password2" required placeholder="Confirmar contraseña" value="">
                <!-- <td class="form-control">{{ form.new_password2 }}</td> -->
            </div>
        </div>
        <div>
            <input class="btn btn-secondary" type="submit" value="Cambiar contraseña" />
        </div>
        <p class="input">{{ form.new_password1.errors }}</p>
        <p class="input center">{{ form.new_password2.errors }}</p>
    </form>

    {% else %}
    <h1>Cambio de contraseña fallo</h1>
    <p>El link para el cambio de contraseña es invalido, probablemente porque ya fue usado. 
        Por favor solicite una nueva recuperación de contraseña .</p>
{% endif %}




    <!-- <form class="form-login" method="post" action="{% url 'password_reset_complete' %}"> 
        {% csrf_token %}
        <div class="form-item">
            <div class="form-group top-20">
                <label class="input" for="new_password1">Contraseña: </label>
                <input class="form-control" type="password" id="id_new_password1", name="new_password1" required placeholder="Contraseña" value="">
            </div>
            <div class="form-group">
                <label class="input" for="new_password2">Confirmar contraseña: </label>
                <input class="form-control" type="password" id="id_new_password2", name="new_password2" required placeholder="Confirmar contraseña" value="">
            </div>
        </div>
        <div class="form-item">
            <input type="submit" class="btn btn-secondary" value="Cambiar">
        </div>
    </form> -->
    {% endblock %}