{% extends 'base.html' %}
        
    {% block body %}
    {% if message %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}

    <h2 class="center top-20">Link para recuperación de contraseña enviado</h2>
    <p class="center top-20">Le fue enviado un correo con las instrucciones para reestablecer su contraseña, 
        debe llegar en breve, sino recibe el correo, revise que ingreso el email con el que se registro y 
        revise la carpeta de correos no deseados 
    </p>

    {% endblock %}

    <!-- style="font-size:medium; font-weight:lighter; width: 85%;"  -->