{% load i18n %}

{% blocktrans %}Hola{% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans %}
Estás recibiendo este correo porque tu (o alguien pretendiendo ser tu)
pidio que tu contraseña sea reseteada en el sitio web {{ domain }}. Si tu no
deseas resetear tu contraseña por favor ignora este mensaje.
{% endblocktrans %}

{% blocktrans %}
Para resetear tu contraseña, por favor dale click al siguiente enlace, o copia y pega en tu navegador:
{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}

{% blocktrans %}Tu usuario, en caso de que lo hayas olvidado:{% endblocktrans %} {{ user.get_username }}


{% blocktrans %}Un abrazo{% endblocktrans %},
{{ site_name }} {% blocktrans %}Management{% endblocktrans %}