{% extends 'base.html' %}
        
    {% block body %}
    {% if message %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}

    <h2 class="center top-20">Recuperación de contraseña</h2>

    <form class="form-login" method="post"> {% csrf_token %}
        <div class="form-item">
            <div class="form-group top-20">
                <label class="input" for="email">Email: </label>
                <!-- style="font-size:medium; font-weight:normal; width: 85%" -->
                {{ form.email }}
            </div>
        </div>
        <div class="form-item">
            <input type="submit" class="btn btn-secondary" value="Enviar">
        </div>
    </form>
    {% endblock %}