{% extends 'base.html' %}
{% load l10n %}        
    {% block body %}

    {% if message %}
        <div class="alert alert-danger top-20 center" role="alert">{{ message }}</div>
    {% endif %}

        <h3 class="center top-20">Modifica los campos que necesites:</h3>
        <form class="form-login" action="{% url 'users.profile' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="input" for="username">Usuario: </label>
                <input class="form-control" type="text" id="username", name="username" required value="{{ a_username }}" placeholder="Usuario" disabled default="{{a_username}}">
            </div>
            <div class="form-group">
                <label class="input" for="email">Email: </label>
                <input class="form-control" type="email" id="email", name="email" required value="{{ a_email }}" placeholder="Correo Electrónico">
            </div>
            <div class="form-group">
                <label class="input" for="first_name">Nombre: </label>
                <input class="form-control" type="text" id="first_name", name="first_name" required value="{{ a_first_name }}" placeholder="Nombres">
            </div>
            <div class="form-group">
                <label class="input" for="last_name">Apellidos: </label>
                <input class="form-control" type="text" id="last_name", name="last_name" required value="{{ a_last_name }}" placeholder="Apellidos">
            </div>
            <div class="form-group">
                <label class="input" for="nickname">Como te gusta que te digan: </label>
                <input class="form-control" type="text" id="nickname", name="nickname" required value="{{ a_nickname }}" placeholder="¿Cómo te gusta que te digan?">
            </div>
            <div class="form-group">
                <label class="input" for="phone_number">Celular: </label>
                <input class="form-control" type="tel" id="phone_number", name="phone_number" required value="{{ a_phone_number|unlocalize }}" placeholder="Celular">
            </div>
            <div class="form-group padding-5 top-20">
                {% if a_mailing_list %}
                <input type="checkbox" id="mailing_list", name="mailing_list" value="True" checked>
                <label for="mailing_list">¿Quieres recibir información? </label>
                {% else %}
                <input type="checkbox" id="mailing_list", name="mailing_list" value="True">
                <label for="mailing_list">¿Quieres recibir información? </label>
                {% endif %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary">Modificar</button>
            </div>
        </form>
        <br>
        <a href="{% url 'users.change_password' %}" class="center sindec">Cambiar contraseña</a>
    
    {% endblock %}