<!DOCTYPE html>

<html lang="es-CO">

	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Aviso Privacidad</title>
		<link rel="stylesheet" href="../css/style.css" type="text/css">
		<style>
			
			.politica{
				align-items: center;
			}
			.politica h1 {
 			   text-align: center;
			   font-size: 150%;
			}
			.politica p {
				text-align: justify;
			}
			.politica ol {
				text-align: justify;
			}
			.container {
				width: 90%;
				margin: 0 auto;
			}
		</style>
	</head>

	<body class="politica">
		<div class="container">
		<h1>AVISO DE PRIVACIDAD</h1>
		<p>
			Este es un sitio web propiedad de Corporación Comunidad Quintana 
			Mágica (en adelante, Quintana), con domicilio en la 
			diagonal 53 #128sur - 27, Caldas, Antioquia – Colombia, 
			e-mail: quintanamagica@gmail.com. El acceso, reproducción y 
			uso de los servicios de la web requiere la aceptación previa 
			de las Condiciones de Uso vigentes en cada momento; Quintana 
			se reserva el derecho de modificar dichas Condiciones cuando lo 
			considere oportuno, mediante la publicación del nuevo texto en la web. 
			Es responsabilidad del Usuario conocer las Condiciones de Uso antes de 
			acceder a los productos y servicios de la web; en caso de no estar conforme 
			con las mismas, por favor, absténgase de utilizarla. 
		</p>
		<p>
			Esta página web pretende ofrecer el más alto nivel de seguridad. 
			Sin embargo, teniendo en consideración las características técnicas 
			de la Transmisión de información por internet, ningún sistema es 
			cien por ciento (100%) seguro o exento de ataques. Quintana respeta 
			su privacidad y por lo tanto toda información que nos sea proporcionada 
			será tratada con cuidado y con la mayor seguridad posible, y solo será 
			usada de acuerdo con las limitaciones que en este documento se establecen.  
			Quintana, sólo obtiene sus Datos Personales cuando éstos son 
			suministrados directa, voluntaria y conscientemente por el Titular. 
		</p>
		<p>
			Su privacidad y confianza son muy importantes para nosotros. Por ello, 
			y en cumplimiento con lo establecido por la Ley 1581 de 2012 “Por la cual 
			se dictan disposiciones generales para la protección de Datos Personales”, 
			y el Decreto 1377 del 27 de junio de 2013 “Por el cual se reglamenta 
			parcialmente la Ley 1581 de 2012”, Quintana pone en su conocimiento 
			la política de Tratamiento de Datos Personales que puede consultar a través 
			de la página web quintanamagica.com. 
		</p>
		<p>
			Los Datos Personales, incluyendo los sensibles, que actualmente o en el 
			futuro obren en nuestras Bases de Datos, y que proporcione cualquier persona 
			física, incluyendo sin limitar, Clientes, Proveedores y/o cualquier Usuario, a 
			Quintana, serán tratados, almacenados, utilizados, transferidos y/o 
			transmitidos precisamente por Quintana, y/o las empresas controladoras de 
			éste, y/o sus empresas filiales, y/o subsidiarias, y/o aquellos terceros 
			que, por naturaleza de sus trabajos o funciones tengan la necesidad de tratar 
			y/o utilizar para los fines que en forma enunciativa pero no limitativa se 
			describen a continuación: 
		</p>
		<ol type="a">
			<li>
				Ejecutar la relación comercial o contractual existente con sus Clientes, 
				Proveedores, Empleados y Exempleados, incluida el pago de obligaciones 
				contractuales y el ejercicio de los derechos derivados de los mismos; 
			</li>
			<li>
				Consultar, solicitar, suministrar, reportar, y divulgar toda la información 
				que se refiere al comportamiento crediticio, financiero y comercial de 
				Clientes en las centrales de riesgo: CIFIN (ASOCIACION BANCARIA) y 
				DATACREDITO (COMPUTEC) y a entidades financieras de Colombia, que presten 
				el mismo servicio o a quien represente sus derechos; 
			</li>
			<li>
				Proveer los servicios y/o los productos requeridos por sus Usuarios; 
			</li>
			<li>
				Informar sobre nuevos productos o servicios y/o sobre cambios en los mismos; 
			</li>
			<li>
				Realizar estudios internos sobre hábitos de consumo; 
			</li>
			<li>
				Enviar información comercial, publicitaria o promocional sobre los 
				productos y/o servicios, eventos y/o promociones, con el fin de impulsar, 
				invitar, dirigir, ejecutar, informar y de manera general, llevar a cabo 
				campañas, promociones o concursos de carácter comercial o publicitario, 
				adelantados por Quintana y/o por terceras personas; 
			</li>
			<li>
				Brindar herramientas para el mejoramiento del proceso educativo de los Usuarios; 
			</li>
			<li>
				Desarrollar el proceso de selección, evaluación, y vinculación laboral, 
				así como los procesos requeridos para dar cumplimiento a cabalidad de la 
				relación laboral, incluido el otorgamiento de beneficios; 
			</li>
			<li>
				Soportar procesos de auditoría interna o externa; 
			</li>
			<li>
				Gestionar toda la información necesaria para el cumplimiento de las 
				obligaciones tributarias y de registros comerciales, corporativos y contables 
				de Quintana; 
			</li>
			<li>
				Cumplir con los procesos internos de Quintana en materia de administración 
				de Proveedores, Clientes, Empleados, Exempleados, Asociados, Ex asociados, 
				Usuarios y Visitantes; 
			</li>
			<li>
				Ejecutar el proceso de archivo, de actualización de los sistemas, de protección 
				y custodia de información y Bases de Datos de Quintana; 
			</li>
			<li>
				Realizar procesos al interior de Quintana, con fines de desarrollo, 
				operación y/o de administración de sistemas propios o de terceros; 
			</li>
			<li>
				Transmitir o transferir datos a terceros con los cuales se hayan 
				celebrado contratos con este objeto, para fines comerciales, contractuales, 
				administrativos, de mercadeo y/u operativos; 
			</li>
			<li>
				Determinar de manera cierta la identidad de las personas que ingresan 
				a las instalaciones de Quintana por temas de seguridad de los Empleados, 
				bienes de Quintana y Visitantes. Esta información podrá ser compartida 
				con la empresa que presta los servicios de seguridad privada a Quintana, 
				con el objetivo de velar por la seguridad de Empleados, Visitantes y bienes 
				de Quintana;
			</li>
			<li>
				Realizar una adecuada gestión de riesgos que permita atender de manera 
				oportuna y adecuada emergencias que puedan afectar la integridad física de 
				Empleados y Visitantes, además de las instalaciones y bienes de Quintana; 
			</li>
			<li>
				Facilitar el acceso a las instalaciones de Quintana;
			</li>
			<li>
				Controlar, monitorear y registrar la información histórica de ingresos 
				de personal, Visitantes y activos a las instalaciones de Quintana; 
			</li>
			<li>
				Las demás finalidades que determinen los Responsables en procesos de 
				obtención de Datos Personales para su Tratamiento y que sean comunicadas 
				a los Titulares en el momento de la recolección de los Datos Personales. 
			</li>
		</ol>
		<p>
			Quintana podrá transferir los Datos Personales que obren en sus Bases de 
			Datos a terceras personas jurídicas, nacionales o extranjeras, salvo que el 
			respectivo Titular manifieste expresamente su oposición. En todo momento, el 
			uso de los Datos Personales tendrá relación con el tipo de interacción jurídica 
			que usted tiene con Quintana en su calidad de "Responsable": ya sea comercial, 
			contractual, civil, mercantil o de cualquier otra naturaleza. 
		</p>
		<p>
			Al visitar cualquiera de los sitios de internet de Quintana, será posible 
			recopilar automáticamente información estándar de registro, incluyendo tu 
			dirección IP, tipo de navegador, el idioma, tiempos de acceso y direcciones 
			de sitios web. Para asegurar que este sitio web está siendo bien administrado 
			y facilitar una mejor navegación, Quintana o los Proveedores de servicios 
			podrán utilizar cookies (archivo pequeño con una cadena de caracteres que 
			se envía al ordenador de quien ingresa a un sitio web, lo cual permite 
			almacenar, entre otras, las preferencias del Usuario) o web beacons 
			(imágenes electrónicas que permiten contar los Visitantes que han accedido 
			a una página en particular y acceder a determinadas cookies) para recoger 
			datos agregados.
		</p>
		<p>
			Es requisito indispensable para acceder y beneficiarse de las ventajas de 
			determinadas secciones de la web, que se registre a través del formulario 
			habilitado para tal efecto, facilitándole a Quintana sus Datos Personales. 
			Aunque varios de ellos no son obligatorios para el registro, le aconsejamos 
			que también proporcione los demás datos que figuren en el formulario, ya que 
			ello ayudará a Quintana a prestarle un mejor servicio. El Titular es 
			responsable de la veracidad, exactitud y actualización de la información 
			facilitada a través de la web; en este sentido, queda prohibida la utilización 
			de identidades falsas y la suplantación, de cualquier forma, de la identidad 
			de terceros (incluyendo el uso de sus datos, contraseñas o claves). 
			En tales casos, la información que el Titular envíe se utilizará para 
			gestionar su solicitud, para personalizar y mejorar este sitio web y los 
			servicios relacionados. Quintana también podrá utilizar su información 
			personal para fines de marketing o para enviarle materiales promocionales o 
			comunicaciones relativas a los servicios prestados por otras entidades 
			relacionadas con Quintana, que consideremos puedan ser de su interés. 
			La información personal del Titular también puede ser usada para proteger 
			los derechos o propiedad de Quintana, así como la de sus Usuarios y, en 
			su caso, en el cumplimiento de un proceso legal. 
		</p>
		<p>
			El nombre de Usuario, clave o contraseña que Quintana le faciliten para 
			el acceso y utilización de la web deberá ser custodiado por el Titular de 
			forma diligente, respondiendo por su uso indebido y exonerando a Quintana de 
			cualquier responsabilidad que pudiera derivarse de su pérdida o acceso 
			ilegítimo por parte de un tercero, hasta que el Titular comunique dicha 
			circunstancia. 
		</p>
		<p>
			Le recordamos que tiene la posibilidad de acceder en cualquier momento a 
			sus Datos Personales y el derecho de solicitar expresamente, su corrección, 
			actualización o supresión, en los términos establecidos por la Ley 1581 de 
			2012 dirigiendo una comunicación escrita a través del correo electrónico 
			quintanamagica@gmail.com; físicos, en la dirección diagonal 53 #128sur - 27 Caldas, 
			Antioquia – Colombia; o telefónicos en el celular 3122587523. 
		</p>
		<p>
			Para lo anterior, el Titular deberá remitir a Quintana mediante documento 
			escrito físico y/o electrónico según corresponda, los Datos Personales 
			que desea sean rectificados, cancelados o revisados, así como el propósito 
			para el cual los aportó, cumpliendo con los siguientes requisitos:
		</p>
		<ol type="a">
			<li>
				Informar el nombre y adjuntar documento de identificación del Titular. 
			</li>
			<li>
				Describir los hechos que dan lugar al reclamo y el objetivo 
				perseguido (actualización, corrección o supresión, o cumplimiento de deberes). 
			</li>
			<li>
				Indicar la dirección y datos de contacto e identificación del reclamante.
			</li>
			<li>
				Adjuntar la documentación que el reclamante quiera hacer valer. 
			</li>
		</ol>
		<p>
			Quintana se reserva el derecho de cambiar, modificar, complementar, 
			alterar o ampliar el presente Aviso de Privacidad en cualquier tiempo, 
			y lo mantendrán siempre a disposición a través de los medios que establece 
			la legislación en la materia.
		</p>
	</div>
	</body>
</html>
