<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Quintana Mágica{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %} ">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block script %}{% endblock %}
    </head>
    <body>
        <nav>
            <div class="topnav" id="myTopnav">
                <a class="active" href="{% url 'home' %}">Inicio</a>
                {% if comunidad %}
                <a href="{% url 'visit.list' %}">Visitas</a>
                {% endif %}
                <!-- <a class="btn" href="{% url 'home' %}">Servicios</a> -->
                <a href="https://quintanamagica.wordpress.com/blog/">Boletines</a>
                <!-- <a class="btn" href="{% url 'home' %}">Contactanos</a> -->
                <a href="{% url 'dian.docs' %}">Info DIAN</a>
                {% if user.is_authenticated %}
                <a href="{% url 'users.profile' %}">Mi Perfil</a>
                <a href="{% url 'users.logout' %}">Salir</a>
                {% else %}
                <a href="{% url 'users.login' %}">Ingresar</a>
                <a href="{% url 'users.signup' %}">Registrarse</a>
                {% endif %}
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <!-- <div class="nav-wrap-social-media">
                <ul class="flex-item">
                    <li>
                        <a href="#">
                            <img src="{% static 'images/facebook.svg' %}" alt="" class="icon">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static 'images/instagram.svg' %}" alt="" class="icon">
                        </a>
                    </li>
                </ul>
            </div> -->
        </nav>
        {% block body %}
        {% endblock %}
        <script>
            function myFunction() {
              var x = document.getElementById("myTopnav");
              if (x.className === "topnav") {
                x.className += " responsive";
              } else {
                x.className = "topnav";
              }
            }
            </script>
    </body>
</html>